@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
    .li{
        border:2px solid black;
        list-style-type: none;
        margin:2px;
        direction:rtl;
        background-color:lightgoldenrodyellow

    }

</style>

<ul>
    @foreach(var ad in Model.adment)
    {
        <li class="li">

            <h4>Name : @ad.Name</h4>
            @if (ad.Discription != null)
            {
                <h4>discription : @ad.Discription</h4>
  }

        </li>
    }
</ul>

